<!--
  # SPDX-License-Identifier: BSD-3-Clause
  # Copyright 2021, Intel Corporation
  #
-->
<network>
  <name>{{ nat_network_name }}</name>
  <bridge name='virbr1' stp='on' delay='0'/>
  <domain name='{{ ansible_hostname }}' localOnly='no'/>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <dns>
    <host ip='{{ test_network|ipaddr("network")|ipmath(1) }}'>
      <hostname>consul</hostname>
    </host>
  </dns>
  <ip address='{{ nat_network|ipaddr("network")|ipmath(1) }}' netmask='{{ nat_network|ipaddr("netmask") }}'>
    <dhcp>
{% for item in vms %}
      <host mac='{{ item.NodeMeta.hwaddr_nat }}' name='{{ item.Node }}.{{ ansible_hostname }}' ip='{{ item.NodeMeta.ipaddr_nat }}' />
      <option number='12' value='{{ item.Node }}' />
      <option number='15' value='{{ ansible_hostname }}' />
{% endfor %}
    </dhcp>
  </ip>
</network>
